In [2]:
from __future__ import print_function, division
from builtins import range
import numpy as np
import pandas as pd
from scipy import stats

In [11]:
N = 10
a = np.random.randn(N) + 2
b = np.random.randn(N)

In [3]:
var_a = a.var(ddof=1) # unbiased estimate to divide by B-1
var_b = b.var(ddof=1)
s = np.sqrt((var_a+var_b)/2) # Pooled Standard deviation
t = (a.mean() - b.mean()) / (s * np.sqrt(2.0/N))
df = 2*N-2
p = 1-stats.t.cdf(t, df=df)
print("t:\t", t, "p:\t", 2*p)

t:	 3.9098596906440766 p:	 0.001026611064606664

In [4]:
t2, p2 = stats.ttest_ind(a,b) # t.test
print("t2:\t", t2, "p2:\t", p2)

t2:	 3.9098596906440766 p2:	 0.001026611064606782

In [5]:
data = pd.read_csv('advertisement_clicks.csv')

In [6]:
data.head()

  advertisement_id  action
0                B       1
1                B       1
2                A       0
3                B       0
4                A       1

In [7]:
data.advertisement_id.unique()

array(['B', 'A'], dtype=object)

In [17]:
# Use t.test if one is better than another
a = data[data.advertisement_id == "A"]
b = data[data.advertisement_id == 'B']

a = a['action']
b = b['action']
print("a.mean:", a.mean())
print("b.mean:", b.mean())

a.mean: 0.304
b.mean: 0.372

In [19]:
t, p = stats.ttest_ind(a,b) # t.test
print("t:\t", t, "p:\t", p)

t:	 -3.2211732138019786 p:	 0.0012971905467125246

In [ ]:
# Welche's t.test
t2, p2 = stats.ttest_ind(a,b, equal_var = False)
print("t:")